body {
  background-color: #ffffff;
  color: #000000;
/* easily edit fonts */
  font-size: 16px;
  /* line-height: 1.5; */
}

figure {
	margin-bottom: 20px;
}

h1{
  font-size: 2em;
  font-weight: 900;
	margin-bottom: 10px;
}
h3 {
  font-size: 1.5em;
  font-style: italic;
	margin-bottom: 10px;
}
p {
  font-size: 100%;
	margin-bottom: 10px;
}
/* easily edit fonts */

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
  background: url(images/bloc-logo.png) no-repeat top center;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
  background-image: url(images/instagram-pic.jpg) no-repeat top center;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

/* removing underline from links */
a {
  text-decoration: none;
}

a:hover { color:#0070BC; }

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
